<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div *ngFor="let employee of employeeRecord">

        <h2>Name: {{employee.employeeName}}   </h2>
    
        <h2>Age : {{employee.employeeAge}}   </h2>
        
        <h2>Email Id:  {{employee.employeeEmailId}}</h2>
    
        <ul  *ngFor="let skill of employee.employeeSkills"  >
            <li> {{skill}}  </li>
        </ul>
    </div>
</body>
</html>


