<div *ngIf="!isReady">
    <h1>Click The Below Button To See The Repositories Of Fabien Potencier</h1>
</div>

<div *ngIf="isReady">

  <!-- {{  reposCollection | json  }} -->

  <table>
      <tbody>
        <th>  FULL Name  </th>
        <th>  NODE ID</th>
        <th>  DEFAULT BRANCH</th>
        <th>  OPEN ISSUES </th>
    
      <tr *ngFor="let repo of repos">
        <td>
            {{ repo.full_name  }}     
        </td>
        <td>
            {{ repo.node_id  }}     
        </td>
        <td>
            {{ repo.default_branch  }}     
        </td>
        <td>
            {{ repo.open_issues  }}     
        </td>
      </tr>
    </tbody>
  </table>

</div>





<div class="container" *ngIf="!isReady">

    <button mat-raised-button color="primary" (click)="fetchProjectResponse()">CLICK THIS</button>
</div>

<div class="container" *ngIf="isReady">
    <button mat-raised-button color="primary" (click)="resetData()">Reset</button>
</div>